.container {
    max-width: 1000px;
    margin: 0 auto;
}
html {
    scroll-behavior: smooth;
}
ul li {
    list-style-type: none;
    padding: 0;
}
ul {
    padding: 0;

}
.product-container {
    max-width: 100%;
}

.product-container ul {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-y: auto;
}