footer {
    margin-top: 90px;
    padding: 90px 0 35px 0;
    background: @color-white-light;
    position: relative;
}

.form {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
    padding: 20px 40px;
    background: @color-white;
    border-radius: @radius-normal;
    .shadow-box();
    .form__logo {
        height: 60px;
    }
    .form__followus {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
        .highlight {
            .font-custom(@font-s-bigger, @font-weight-primary, @primary-color, @line-height-large);
            text-transform: uppercase;
        }
        .nomal {
            .font-custom(@font-size-primary, @font-w-small, @color-black-light, @line-height-medium);
        }
    }
    .form__email {
        display: flex;
        #email {
            .input();
            margin-right: 20px;
        }
        .btn-submit {
            #btn-icon (@primary-color, 1px solid @primary-color, fit-content, 40px, 0 30px);
            color: @color-white;
            text-transform: uppercase;
            transition: 0.3s;
            &:hover {
                #btn-icon (@color-white, 1px solid @primary-color, fit-content, 40px, 0 30px);
                color: @primary-color;
                text-transform: uppercase;
                transition: 0.3s;
            }
        }
    }
    .form__social {
        height: 60px;
        display: flex;
        align-items: center;
        padding-left: 20px;
        border-left: 1px solid #9A9A9C;
        margin-left: 20px;
        ul {
            display: flex;
            li {
                margin-right: 10px;
                &:last-child {
                    margin-right: 0;
                }
                span {
                    #btn-icon (@secondary-color, 1px solid @secondary-color, 35px, 35px);
                }
            }
        }
    } 
}

.footer__title {
    .font-custom(@font-s-bigger, @font-w-semibold, @primary-color, @line-height-large);
    font-style: italic;
    #title(@padding: 0 0 30px 0, @border: none);
    .title--bold {
        .font-custom(@font-s-bigger, @font-w-extrabold, @primary-color, @line-height-large);
    }
}

.footer__infomation {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .infomation__left, .infomation__right {
        margin: 0;
    }
    .infomation__left li {
        .font-custom(@font-s-big, @font-w-small, @color-black-light, @line-height-larger);
        .uppercase {
            text-transform: uppercase;
        }
    }
    .infomation__right {
        margin-top: 29px;
        .link--mobile {
            display: none;
        }
        &>ul {
            display: flex;
            align-items: flex-end;
            >li {
                margin-right: 21.5px;
                &.link--qrcode {
                    margin-right: 10px;
                }
                &.link--download {
                    margin-right: 0;
                }
            }
        }
    }
}
.footer__links {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid @color-gray;
    ul, p {
        margin: 0;
    }
    ul {
        display: flex;
        li {
            .font-custom(@font-s-medium, @font-w-small, @color-black-light, @line-height-overmedium);
            display: block;
            height: 20px;
            &.y-line {
                span {
                    display: block;
                    height: 20px;
                    width: 0.5px;
                    background-color:@color-gray;
                    margin: 0 8px;
                }
            }
            a {
                &:hover {
                    .font-custom(@font-s-medium, @font-w-small, @primary-color, @line-height-overmedium);
                    transition: 0.3s;
                }
            }
        }
    }
    p {
        .font-custom(@font-s-medium, @font-w-small, @color-black-light, @line-height-overmedium);
    }
}

// side control
.side-control {
    position: fixed;
    z-index: 9;
    top: 50%;
    right: 50px;
    .btn-icon {
        #btn-icon(@bg: @color-white, @border: 1px solid @color-white, @width: 40px, @height: 40px);
        margin: 0;
        margin-bottom: 15px;
        &:hover {
            #btn-icon(@bg: @color-white, @border: 1px solid @primary-color, @width: 40px, @height: 40px);
        }
    }
}

@media (max-width: 1440px){
    .side-control {
        right: 20px;
    }
}

@media (max-width: 1200px){
    .footer__infomation, .footer__links {
        margin: 0 20px;
    }
}
@media (max-width: 1065px) {
    .form {
        .form__followus {
            display: none;
        }
    }
}
@media (max-width: 880px) {
    .form {
        top: -70px;
        flex-wrap: wrap;
        justify-content: center;
        width: min-content;
        padding: 20px;
        .form__logo {
            order: 1;
            margin: 0;
            height: 40px;
            width: auto;
            svg {
                height: 40px;
                width: auto;
            }
        }
        .form__social {
            order: 2;
            border: none;
            margin: 0;
            margin-left: 10px;
            padding: 0;
            height: auto;
        }
        .form__email {
            order: 3;
            margin-top: 20px;
            justify-content: center;
            #email {
                margin: 0;
                margin-right: 0;
            }
            .btn-submit {
                margin: 0;
                min-width: 140px;
                margin-left: 20px;
            }
        }
    }
    .footer__title {
        font-size: 14px;
    }
    .footer__infomation {
        flex-direction: column;
        margin-bottom: 20px;
        .infomation__left {
            ul li {
                font-size: 10px;
                line-height: @line-height-medium;
            }
        }
        .infomation__right {
            margin-top: 6px;
            ul li {
                margin: 0;
                &.link--authentic {
                    order: 3;
                    margin-left: 20px;
                }
            }
        }
    }
    .footer__links {
        flex-direction: column;
        ul {
            width: fit-content;
            flex-wrap: wrap;
            justify-content: flex-start;
            li {
                font-size: 10px;
                height: 15px;
                line-height: @line-height-small;
                margin: 0;
                &.y-line span {
                    height: 15px;
                }
            }
        }
        p {
            margin-top: 15px;
        }
    }
}
@media (max-width: 600px) {
    footer {
        padding-bottom: 110px;
    }
    .side-control {
        display: none;
    }
}
@media (max-width: 500px) {
    .form .form__email #email {
        width: 180px;
    }
}