* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: @primary-font;
    font-size: @font-size-primary;
    font-weight: @font-weight-primary;
}
ul li {
    list-style-type: none;
    padding: 0;
}
ul {
    padding: 0;
}
a {
    text-decoration: none;
}