@import "./variables.less";

.font-custom(@size: auto, @weight: auto, @color: @color-black-light, @line-height: 10px) {
    font-size: @size;
    font-weight: @weight;
    color: @color;
    line-height: @line-height;
}

#btn-icon (@bg, @border, @width, @height, @padding: auto) {
    cursor: pointer;
    display: flex;
    width: @width;
    height: @height;
    align-items: center;
    justify-content: center;
    border: @border;
    border-radius: @radius-rounded;
    background: @bg;
    padding: @padding;
    transition: all 0.3s;
}
#btn-icon-hover (@border, @bg) {
    &:hover {
        border: @border;
        background: @bg;
    }
}

.shadow-box(@attributes: 0px 0px 10px rgba(0, 0, 0, 0.15)) {
    -webkit-box-shadow: @attributes;
    -moz-box-shadow: @attributes;
    box-shadow: @attributes;
}
#title(@text-trans: uppercase, @padding: 0 0 10px 0, @border: 3px solid @primary-color){
    text-transform: @text-trans;
    width: fit-content;
    text-align: center;
    padding: @padding;
    border-bottom: @border;
}
.ul-list {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.input {
    width: 240px;
    height: 40px;
    padding-left: 20px;
    border: 1px solid #E5E5E5;
    border-radius: @radius-normal;
    outline: none;
    &::placeholder {
        .font-custom(@font-s-medium, @font-w-medium, @color-black-light, 15px);
    }
}
h2 {
    .font-custom(@size: @font-s-biggest, @weight: @font-weight-primary, @line-height: 36px);
    #title();
}

.btn--img{
    display: block;
    width: 14px;
    height: 10px;
    margin-left: 5px;
}
.title-cover {
    border-bottom: 1px solid @secondary-color;
    max-width: 1200px;
}