@import "./style.less";

.slider-top {
    margin-top: 80px;
}
.slider-top, .slider-bottom {
    position: relative;
    .counter {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 2;
        padding: 4px 10px;
        border-radius: @radius-normal;
        background-color: rgba(255, 255, 255, 0.7);
        .font-custom(@font-s-medium, @font-w-medium, @color-black-light, @line-height-small);
    }
    .item a img {
        max-width: 100vw;
        width: 100%;
        height: auto;
        z-index: 1;
    }
}

#slider--top, #slider--bottom {
    width: 100%;
    z-index: 1;
}
.owl-theme .owl-dots {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5px;
    .owl-dot {
        margin: 0 2.5px;
        span {
            width: 5px;
            height: 5px;
            margin: 0;
            background: @color-white;
            opacity: 0.5;
        }
        &.active {
            span {
                width: 30px;
                background: @color-white;
                opacity: 1;
            }
        }
    }
}

@media (max-width: 600px) {
    .slider-top {
        margin-top: 13px;
    }
}