@import "../owl/owl.carousel.css";
@import "../owl/owl.theme.default.css";
@import "../owl/owl.carousel.css";
@import "../owl/owl.theme.default.css";
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v21/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jq0N6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v21/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR6aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v21/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v21/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v21/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v21/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v21/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v21/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr70w-.ttf) format('truetype');
}
.ul-list {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.input {
  width: 240px;
  height: 40px;
  padding-left: 20px;
  border: 1px solid #E5E5E5;
  border-radius: 20px;
  outline: none;
}
.input::placeholder {
  font-size: 12px;
  font-weight: 500;
  color: #333333;
  line-height: 15px;
}
h2 {
  font-size: 20px;
  font-weight: 500;
  color: #333333;
  line-height: 36px;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
  padding: 0 0 10px 0;
  border-bottom: 3px solid #EE2E24;
}
.btn--img {
  display: block;
  width: 14px;
  height: 10px;
  margin-left: 5px;
}
.title-cover {
  border-bottom: 1px solid #F99B2A;
  max-width: 1200px;
}
* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 500;
}
ul li {
  list-style-type: none;
  padding: 0;
}
ul {
  padding: 0;
}
a {
  text-decoration: none;
}
.slider-top {
  margin-top: 80px;
}
.slider-top,
.slider-bottom {
  position: relative;
}
.slider-top .counter,
.slider-bottom .counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
  padding: 4px 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  font-weight: 500;
  color: #333333;
  line-height: 15px;
}
.slider-top .item a img,
.slider-bottom .item a img {
  max-width: 100vw;
  width: 100%;
  height: auto;
  z-index: 1;
}
#slider--top,
#slider--bottom {
  width: 100%;
  z-index: 1;
}
.owl-theme .owl-dots {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5px;
}
.owl-theme .owl-dots .owl-dot {
  margin: 0 2.5px;
}
.owl-theme .owl-dots .owl-dot span {
  width: 5px;
  height: 5px;
  margin: 0;
  background: white;
  opacity: 0.5;
}
.owl-theme .owl-dots .owl-dot.active span {
  width: 30px;
  background: white;
  opacity: 1;
}
@media (max-width: 600px) {
  .slider-top {
    margin-top: 13px;
  }
}
.menu-desktop {
  display: flex;
  background-color: white;
  background-image: url('../images/bg-menu.png');
  background-repeat: repeat-x;
  background-clip: border-box;
  background-size: auto;
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  z-index: 10;
}
.menu-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 99.33px;
  padding: 41px 20px 0 20px;
  background: #EE2E24;
  position: relative;
  display: none;
}
.menu-mobile:after {
  content: "";
  position: absolute;
  bottom: -12.69px;
  left: 0;
  width: 100%;
  height: 8.97px;
  background: #F99B2A;
}
.menu-mobile .logo__mobile--small {
  display: none;
}
.menu-mobile .logo__mobile,
.menu-mobile .logo__mobile--small,
.menu-mobile div,
.menu-mobile .menubtn__search,
.menu-mobile .menubtn__cart {
  margin: 0;
}
.menu-mobile div {
  position: relative;
  width: 49%;
  transition: all 0.3s;
}
.menu-mobile div input {
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 0 30px 0 20px;
  transition: all 0.3s;
}
.menu-mobile div input:placeholder {
  font-size: 12px;
  font-weight: 500;
  color: #333333;
  line-height: 15px;
}
.menu-mobile div input:focus {
  padding-left: 40px;
}
.menu-mobile div svg {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(0, -50%);
}
.menu-mobile div svg.change {
  left: 5%;
  right: auto;
}
.menu-mobile .menubtn__cart {
  position: relative;
}
.menu-mobile .menubtn__cart span {
  position: absolute;
  bottom: 4px;
  right: -4px;
  width: 14px;
  height: 14px;
  background-color: white;
  border: none;
  border-radius: 20px;
  font-size: 6px;
  font-weight: 500;
  color: #EE2E24;
  line-height: 14px;
  text-align: center;
}
.menu__main {
  display: flex;
  align-items: center;
  background-color: white;
  max-width: 1200px;
  width: 100%;
  height: 80px;
  justify-content: space-between;
}
.menu__main a {
  margin: 0;
}
.menu__main a img {
  height: 100%;
}
.menu__main ul {
  margin: 0;
}
.menu__main ul li {
  padding-right: 20px;
}
.menu__main ul li:nth-child(6),
.menu__main ul li:nth-child(7) {
  display: none;
}
.menu__main ul li a {
  display: flex;
  flex-direction: column;
}
.menu__main ul li a span {
  margin-top: 5px;
  font-size: 12px;
  font-weight: auto;
  color: #333333;
  line-height: 15px;
  transition: 0.3s;
}
.menu__main ul li a:hover span {
  font-size: 12px;
  font-weight: auto;
  color: #EE2E24;
  line-height: 15px;
  transition: 0.3s;
}
.menu__main .menu__actions {
  display: flex;
  align-items: center;
  margin: 0;
}
.menu__main .menu__btn {
  margin-right: 20px;
  font-size: 25px;
  color: #EE2E24;
  width: 22px;
  display: none;
}
.menu__main ul {
  display: flex;
}
.address-order {
  width: 240px;
  height: 40px;
  padding-left: 20px;
  border: 1px solid #E5E5E5;
  border-radius: 20px;
  outline: none;
  margin-right: 10px;
}
.address-order::placeholder {
  font-size: 12px;
  font-weight: 500;
  color: #333333;
  line-height: 15px;
}
.btn-icon {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 50px;
  background: white;
  padding: auto;
  transition: all 0.3s;
  margin-right: 5px;
}
.btn-icon--red {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  background: #EE2E24;
  padding: auto;
  transition: all 0.3s;
}
.languages {
  display: flex;
  padding: 0 16px 0 5px;
}
.languages .language__btn {
  cursor: pointer;
  display: flex;
  width: auto;
  height: 16px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  background: none;
  padding: auto;
  transition: all 0.3s;
  font-size: 12px;
  font-weight: 300;
  color: #333333;
  line-height: 15px;
}
.languages .language__btn:last-child {
  border-left: 1px solid black;
  border-radius: 0;
}
.languages .language__btn.active {
  font-size: 12px;
  font-weight: 500;
  color: #EE2E24;
  line-height: 15px;
}
.controlbar-mobile {
  position: fixed;
  z-index: 99;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background: white;
  display: none;
}
.controlbar-mobile .user {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background-color: #EE2E24;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px;
}
.controlbar-mobile .user span {
  font-size: 9px;
  font-weight: 600;
  color: white;
  line-height: 15px;
}
.controlbar-mobile ul {
  margin: 0;
  width: calc(50vw - 35px);
  display: flex;
  align-items: center;
}
.controlbar-mobile ul li a {
  display: flex;
  flex-direction: column;
}
.controlbar-mobile ul li a span {
  font-size: 9px;
  font-weight: 600;
  color: #333333;
  line-height: 10px;
  margin-top: 5px;
}
.controlbar-mobile .circlek-club {
  position: absolute;
  top: -100px;
  left: -100%;
  transition: all 0.3s;
}
.controlbar-mobile .circlek-club.show {
  left: 0;
}
.controlbar-mobile .contact {
  position: absolute;
  top: -115px;
  right: -100%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  z-index: 90;
}
.controlbar-mobile .contact a {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 48px;
  border-radius: 20px;
  background-color: #F99B2A;
}
.controlbar-mobile .contact a:first-child {
  margin-bottom: 15px;
}
.controlbar-mobile .contact.show {
  right: 20px;
}
@media (max-width: 1115px) {
  .menu__main ul li {
    padding: 0;
    margin-right: 10px;
  }
}
@media (max-width: 1065px) {
  .menu__main {
    position: relative;
    z-index: 25;
  }
  .menu__main ul {
    flex-direction: column;
    position: absolute;
    top: 80px;
    right: -100%;
    height: 100vh;
    background: white;
    transition: all 0.5s;
  }
  .menu__main ul.show {
    right: 0;
  }
  .menu__main ul.show::after {
    content: "";
    width: 200vw;
    height: 100vh;
    position: absolute;
    right: 100%;
    background-color: black;
    opacity: 0.5;
  }
  .menu__main ul li {
    margin: 0;
    padding: 0 50px 30px 150px;
  }
  .menu__main ul li:nth-child(6),
  .menu__main ul li:nth-child(7) {
    display: block;
  }
  .menu__main ul li a {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    width: 140px;
  }
  .menu__main ul li a svg {
    margin: 0;
    width: 50px;
  }
  .menu__main ul li a span {
    margin: 0;
    width: 90px;
  }
  .menu__main .menu__actions button:nth-child(4) {
    display: none;
  }
  .menu__main .menu__actions .btn-icon:nth-child(5) {
    display: none;
  }
  .menu__main .menu__actions .languages {
    display: none;
  }
  .menu__main .menu__btn {
    display: block;
    margin-left: 0;
  }
  .menu__main .fa-bars {
    display: block;
  }
  .menu__main .fa-bars.hidden {
    display: none;
  }
  .menu__main .fa-times {
    display: none;
  }
  .menu__main .fa-times.show {
    display: block;
  }
}
@media (max-width: 600px) {
  .menu-desktop {
    display: none;
  }
  .menu-mobile {
    display: flex;
  }
  .controlbar-mobile {
    display: flex;
  }
}
footer {
  margin-top: 90px;
  padding: 90px 0 35px 0;
  background: #F4F4F4;
  position: relative;
}
.form {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  top: -50px;
  left: 50%;
  transform: translate(-50%);
  padding: 20px 40px;
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.form .form__logo {
  height: 60px;
}
.form .form__followus {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
.form .form__followus .highlight {
  font-size: 18px;
  font-weight: 500;
  color: #EE2E24;
  line-height: 22px;
  text-transform: uppercase;
}
.form .form__followus .nomal {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 17px;
}
.form .form__email {
  display: flex;
}
.form .form__email #email {
  width: 240px;
  height: 40px;
  padding-left: 20px;
  border: 1px solid #E5E5E5;
  border-radius: 20px;
  outline: none;
  margin-right: 20px;
}
.form .form__email #email::placeholder {
  font-size: 12px;
  font-weight: 500;
  color: #333333;
  line-height: 15px;
}
.form .form__email .btn-submit {
  cursor: pointer;
  display: flex;
  width: fit-content;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid #EE2E24;
  border-radius: 50px;
  background: #EE2E24;
  padding: 0 30px;
  transition: all 0.3s;
  color: white;
  text-transform: uppercase;
  transition: 0.3s;
}
.form .form__email .btn-submit:hover {
  cursor: pointer;
  display: flex;
  width: fit-content;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid #EE2E24;
  border-radius: 50px;
  background: white;
  padding: 0 30px;
  transition: all 0.3s;
  color: #EE2E24;
  text-transform: uppercase;
  transition: 0.3s;
}
.form .form__social {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-left: 1px solid #9A9A9C;
  margin-left: 20px;
}
.form .form__social ul {
  display: flex;
}
.form .form__social ul li {
  margin-right: 10px;
}
.form .form__social ul li:last-child {
  margin-right: 0;
}
.form .form__social ul li span {
  cursor: pointer;
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  border: 1px solid #F99B2A;
  border-radius: 50px;
  background: #F99B2A;
  padding: auto;
  transition: all 0.3s;
}
.footer__title {
  font-size: 18px;
  font-weight: 600;
  color: #EE2E24;
  line-height: 22px;
  font-style: italic;
  text-transform: uppercase;
  width: fit-content;
  text-align: center;
  padding: 0 0 30px 0;
  border-bottom: none;
}
.footer__title .title--bold {
  font-size: 18px;
  font-weight: 800;
  color: #EE2E24;
  line-height: 22px;
}
.footer__infomation {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.footer__infomation .infomation__left,
.footer__infomation .infomation__right {
  margin: 0;
}
.footer__infomation .infomation__left li {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
  line-height: 24px;
}
.footer__infomation .infomation__left li .uppercase {
  text-transform: uppercase;
}
.footer__infomation .infomation__right {
  margin-top: 29px;
}
.footer__infomation .infomation__right .link--mobile {
  display: none;
}
.footer__infomation .infomation__right > ul {
  display: flex;
  align-items: flex-end;
}
.footer__infomation .infomation__right > ul > li {
  margin-right: 21.5px;
}
.footer__infomation .infomation__right > ul > li.link--qrcode {
  margin-right: 10px;
}
.footer__infomation .infomation__right > ul > li.link--download {
  margin-right: 0;
}
.footer__links {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid #9A9A9C;
}
.footer__links ul,
.footer__links p {
  margin: 0;
}
.footer__links ul {
  display: flex;
}
.footer__links ul li {
  font-size: 12px;
  font-weight: 400;
  color: #333333;
  line-height: 20px;
  display: block;
  height: 20px;
}
.footer__links ul li.y-line span {
  display: block;
  height: 20px;
  width: 0.5px;
  background-color: #9A9A9C;
  margin: 0 8px;
}
.footer__links ul li a:hover {
  font-size: 12px;
  font-weight: 400;
  color: #EE2E24;
  line-height: 20px;
  transition: 0.3s;
}
.footer__links p {
  font-size: 12px;
  font-weight: 400;
  color: #333333;
  line-height: 20px;
}
.side-control {
  position: fixed;
  z-index: 9;
  top: 50%;
  right: 50px;
}
.side-control .btn-icon {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 50px;
  background: white;
  padding: auto;
  transition: all 0.3s;
  margin: 0;
  margin-bottom: 15px;
}
.side-control .btn-icon:hover {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid #EE2E24;
  border-radius: 50px;
  background: white;
  padding: auto;
  transition: all 0.3s;
}
@media (max-width: 1440px) {
  .side-control {
    right: 20px;
  }
}
@media (max-width: 1200px) {
  .footer__infomation,
  .footer__links {
    margin: 0 20px;
  }
}
@media (max-width: 1065px) {
  .form .form__followus {
    display: none;
  }
}
@media (max-width: 880px) {
  .form {
    top: -70px;
    flex-wrap: wrap;
    justify-content: center;
    width: min-content;
    padding: 20px;
  }
  .form .form__logo {
    order: 1;
    margin: 0;
    height: 40px;
    width: auto;
  }
  .form .form__logo svg {
    height: 40px;
    width: auto;
  }
  .form .form__social {
    order: 2;
    border: none;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    height: auto;
  }
  .form .form__email {
    order: 3;
    margin-top: 20px;
    justify-content: center;
  }
  .form .form__email #email {
    margin: 0;
    margin-right: 0;
  }
  .form .form__email .btn-submit {
    margin: 0;
    min-width: 140px;
    margin-left: 20px;
  }
  .footer__title {
    font-size: 14px;
  }
  .footer__infomation {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .footer__infomation .infomation__left ul li {
    font-size: 10px;
    line-height: 17px;
  }
  .footer__infomation .infomation__right {
    margin-top: 6px;
  }
  .footer__infomation .infomation__right ul li {
    margin: 0;
  }
  .footer__infomation .infomation__right ul li.link--authentic {
    order: 3;
    margin-left: 20px;
  }
  .footer__links {
    flex-direction: column;
  }
  .footer__links ul {
    width: fit-content;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer__links ul li {
    font-size: 10px;
    height: 15px;
    line-height: 15px;
    margin: 0;
  }
  .footer__links ul li.y-line span {
    height: 15px;
  }
  .footer__links p {
    margin-top: 15px;
  }
}
@media (max-width: 600px) {
  footer {
    padding-bottom: 110px;
  }
  .side-control {
    display: none;
  }
}
@media (max-width: 500px) {
  .form .form__email #email {
    width: 180px;
  }
}
.category-selector {
  margin-top: 40px;
}
.category-selector ul {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  max-width: 1080px;
}
.category-selector ul li:first-child span:first-child {
  cursor: pointer;
  display: flex;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  background: #EE2E24;
  padding: auto;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}
.category-selector ul li:last-child span:last-child,
.category-selector ul li:first-child span:last-child {
  font-size: 14px;
  font-weight: 500;
  color: #EE2E24;
  line-height: 20px;
}
.category-selector ul li a span:first-child {
  cursor: pointer;
  display: flex;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  background: white;
  padding: auto;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.category-selector ul li a span:last-child {
  display: block;
  text-align: center;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  line-height: 20px;
  transition: all 0.3s;
}
.category-selector ul li a:hover span:first-child {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.category-selector ul li a:hover span:last-child {
  font-size: 14px;
  font-weight: 500;
  color: #EE2E24;
  line-height: 20px;
}
@media (max-width: 1200px) {
  .category-selector {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (max-width: 800px) {
  .category-selector {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 400px;
  }
  .category-selector ul {
    grid-template-columns: repeat(4, 1fr);
  }
  .category-selector ul li {
    transition: all 0.3s;
  }
  .category-selector ul li:first-child span:first-child {
    width: 60px;
    height: 60px;
  }
  .category-selector ul li:first-child span:last-child {
    font-size: 10px;
    line-height: 14px;
  }
  .category-selector ul li:last-child span:first-child svg {
    width: 75%;
    height: auto;
  }
  .category-selector ul li:last-child span:last-child {
    font-size: 10px;
    line-height: 14px;
  }
  .category-selector ul li:nth-child(3) span:first-child svg {
    width: 46%;
    height: auto;
  }
  .category-selector ul li a span:first-child {
    width: 60px;
    height: 60px;
  }
  .category-selector ul li a span:first-child svg {
    width: 55%;
    height: auto;
  }
  .category-selector ul li a span:last-child {
    font-size: 10px;
    line-height: 14px;
  }
  .category-selector ul li:hover a span:last-child {
    font-size: 10px;
    font-weight: 500;
    color: #EE2E24;
    line-height: 14px;
  }
}
@media (max-width: 420px) {
  .category-selector {
    margin-left: 20px;
    margin-right: 20px;
  }
}
.products-container {
  max-width: 1200px;
  padding: 40px 0 40px 0;
}
.products-container__mobile {
  display: none;
}
.products__list {
  max-width: 100%;
}
.products__list ul {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-bottom: 20px;
}
.products__list .product__name {
  font-size: 14px;
  font-weight: 600;
  color: black;
  line-height: 17px;
  text-align: center;
  margin-top: 10px;
}
.products__list .product__price {
  font-size: 14px;
  font-weight: 600;
  color: #EE2E24;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}
.products__list li a {
  position: relative;
}
.products__list li a span {
  position: absolute;
  right: 0px;
  top: 0;
  bottom: 200px;
  font-size: 10px;
  font-weight: 700;
  color: white;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  width: 30px;
  height: 30px;
  background: #EE2E24;
  border-radius: 50px;
  display: none;
}
.products__list li a span.show {
  display: block;
}
.btn-more-products {
  cursor: pointer;
  display: flex;
  width: fit-content;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid #EE2E24;
  border-radius: 50px;
  background: white;
  padding: 0 30px 0 30px;
  transition: all 0.3s;
  margin-top: 40px;
  text-transform: uppercase;
  color: #EE2E24;
  transition: 0.3s;
}
.btn-more-products .btn--img {
  background-image: url(../images/arrow-right.png);
  background-repeat: no-repeat;
  background-position: center;
}
.btn-more-products:hover {
  cursor: pointer;
  display: flex;
  width: fit-content;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid #EE2E24;
  border-radius: 50px;
  background: #EE2E24;
  padding: 0 30px 0 30px;
  transition: all 0.3s;
  margin-top: 40px;
  text-transform: uppercase;
  color: white;
}
.btn-more-products:hover .btn--img {
  background-image: url(../images/arrow-right-white.png);
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1200px) {
  .products-container,
  .products-container__mobile {
    margin-left: 20px;
  }
  .products-container__mobile {
    padding-bottom: 40px;
  }
  .title-cover {
    margin-right: 20px;
  }
}
@media (max-width: 800px) {
  .products-container .products__list ul li a {
    display: block;
    width: 200px;
    height: auto;
  }
  .products-container .products__list ul li a img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 600px) {
  .products-container__mobile {
    display: block;
  }
  .products-container__mobile h2 {
    font-size: 14px;
    padding-bottom: 7px;
    line-height: 24px;
  }
  .products-container__mobile .products__list {
    padding-top: 20px;
  }
  .products-container__mobile .products__list ul li a {
    display: block;
    width: 170px;
    height: 250px;
  }
  .products-container__mobile .products__list ul li a .product__name {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 34px;
  }
  .products-container__mobile .products__list ul li a img {
    width: 100%;
    height: 170px;
    padding-top: 20px;
  }
  .products-container h2 {
    font-size: 14px;
    padding-bottom: 7px;
    line-height: 24px;
  }
  .products-container .products__list {
    padding-top: 20px;
  }
  .products-container .products__list ul li a {
    display: block;
    width: 170px;
    height: 250px;
  }
  .products-container .products__list ul li a .product__name {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 34px;
  }
  .products-container .products__list ul li a img {
    width: 100%;
    height: 170px;
    padding-top: 20px;
  }
  .btn-more-products {
    margin-top: 20px;
  }
}
.services {
  padding: 40px 0;
  background: #F4F4F4;
}
.service__list {
  max-width: 100%;
  max-width: 880px;
  padding-top: 40px;
}
.service__list ul {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.service__list ul li a {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}
.service__list ul li a span:first-child {
  cursor: pointer;
  display: flex;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50px;
  background: white;
  padding: auto;
  transition: all 0.3s;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.service__list ul li a span:last-child {
  display: block;
  text-align: center;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
  line-height: 20px;
}
.service__list ul li a:hover span:first-child {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}
.service__list ul li a:hover span:last-child {
  font-size: 14px;
  font-weight: 500;
  color: #EE2E24;
  line-height: 20px;
}
.btn-more-service {
  cursor: pointer;
  display: flex;
  width: fit-content;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid #EE2E24;
  border-radius: 50px;
  background: #EE2E24;
  padding: 0 30px 0 30px;
  transition: all 0.3s;
  margin-top: 10px;
  color: white;
  text-transform: uppercase;
  transition: 0.3s;
}
.btn-more-service .btn--img {
  background-image: url(../images/arrow-right-white.png);
  background-repeat: no-repeat;
  background-position: center;
}
.btn-more-service:hover {
  cursor: pointer;
  display: flex;
  width: fit-content;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid #EE2E24;
  border-radius: 50px;
  background: white;
  padding: 0 30px 0 30px;
  transition: all 0.3s;
  color: #EE2E24;
  margin-top: 10px;
  text-transform: uppercase;
}
.btn-more-service:hover .btn--img {
  background-image: url(../images/arrow-right.png);
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1200px) {
  .services .title-cover {
    margin: 0 20px;
  }
}
@media (max-width: 880px) {
  .services {
    padding: 20px 0;
  }
  .service__list {
    margin-left: 20px;
  }
}
@media (max-width: 600px) {
  .services h2 {
    font-size: 14px;
    padding-bottom: 7px;
    line-height: 24px;
  }
  .service__list ul {
    justify-content: space-between;
  }
  .service__list ul li {
    min-width: 85px;
    transition: all 0.3s;
  }
  .service__list ul li a span:first-child {
    width: 60px;
    height: 60px;
  }
  .service__list ul li a span:first-child svg {
    width: 55%;
    height: auto;
  }
  .service__list ul li a span:last-child {
    font-size: 10px;
    line-height: 14px;
  }
  .service__list ul li:hover a span:last-child {
    font-size: 10px;
    font-weight: 500;
    color: #EE2E24;
    line-height: 14px;
  }
  .btn-more-service {
    margin-top: 20px;
  }
}
.news {
  max-width: 1200px;
  margin-top: 40px;
}
.news__list {
  width: 100%;
  padding-top: 40px;
}
.news__list ul {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.news__list ul li {
  margin: 0;
  margin-right: 20px;
}
.news__list ul li:last-child {
  margin: 0;
}
.btn-more-news {
  cursor: pointer;
  display: flex;
  width: fit-content;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid #EE2E24;
  border-radius: 50px;
  background: white;
  padding: 0 30px 0 30px;
  transition: all 0.3s;
  color: #EE2E24;
  margin-top: 40px;
  text-transform: uppercase;
  transition: 0.3s;
}
.btn-more-news .btn--img {
  background-image: url(../images/arrow-right.png);
  background-repeat: no-repeat;
  background-position: center;
}
.btn-more-news:hover {
  cursor: pointer;
  display: flex;
  width: fit-content;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid #EE2E24;
  border-radius: 50px;
  background: #EE2E24;
  padding: 0 30px 0 30px;
  transition: all 0.3s;
  color: white;
  margin-top: 40px;
  text-transform: uppercase;
}
.btn-more-news:hover .btn--img {
  background-image: url(../images/arrow-right-white.png);
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 1200px) {
  .news {
    margin-left: 20px;
  }
}
@media (max-width: 800px) {
  .news__list {
    padding-top: 20px;
  }
  .news__list ul li {
    min-width: 270px;
    height: fit-content;
  }
  .news__list ul li a {
    display: block;
  }
  .news__list ul li a img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 600px) {
  .news {
    margin-top: 20px;
  }
  .news .title-cover h2 {
    font-size: 14px;
    padding-bottom: 7px;
    line-height: 24px;
  }
}
@media (max-width: 420px) {
  .news__list ul li {
    min-width: 160px;
    height: fit-content;
  }
  .news__list ul li a {
    display: block;
  }
  .news__list ul li a img {
    width: 100%;
    height: auto;
  }
  .btn-more-news {
    margin-top: 20px;
  }
}
