.category-selector {
    margin-top: 40px;
}
.category-selector ul {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    max-width: 1080px;
    li {
        &:first-child {
            span:first-child {
                #btn-icon(@bg: @primary-color, @width: 80px, @height:80px, @border: none);
                .shadow-box();
            }
        }
        &:last-child, &:first-child {
            span:last-child {
                .font-custom(@font-s-big, @font-weight-primary, @primary-color, @line-height-overmedium);
            }
        }
        a{
            span:first-child {
                #btn-icon(@bg: @color-white, @width: 80px, @height:80px, @border: none);
                .shadow-box(0px 0px 10px rgba(0, 0, 0, 0.1));
                transition: 0.3s;
            }
            span:last-child {
                display: block;
                text-align: center;
                margin-top: 8px;
                .font-custom(@size: @font-s-big, @weight: @font-w-medium, @line-height: @line-height-overmedium);
                transition: all 0.3s;
            }
            &:hover {
                span:first-child {
                    .shadow-box(0px 0px 15px rgba(0, 0, 0, 0.3));
                }
                span:last-child {
                    .font-custom(@font-s-big, @font-weight-primary, @primary-color, @line-height-overmedium);
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .category-selector {
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media (max-width: 800px) {
    .category-selector {
        margin: 0 auto;
        margin-top: 20px;
        max-width: 400px;
        ul {
            grid-template-columns: repeat(4, 1fr);
            li {
                transition: all 0.3s;
                &:first-child {
                    span:first-child {
                        width: 60px;
                        height: 60px;
                    }
                    span:last-child {
                        font-size: @font-s-small;
                        line-height: 14px;
                    }
                }
                &:last-child {
                    span:first-child {
                        svg {
                            width: 75%;
                            height: auto;
                        }
                    }
                    span:last-child {
                        font-size: @font-s-small;
                        line-height: 14px;
                    }
                }
                &:nth-child(3) {
                    span:first-child {
                        svg {
                            width: 46%;
                            height: auto;
                        }
                    }
                }
                a {
                    span:first-child {
                        width: 60px;
                        height: 60px;
                        svg {
                            width: 55%;
                            height: auto;
                        }
                    }
                    span:last-child {
                        font-size: @font-s-small;
                        line-height: 14px;
                    }
                }
                &:hover {
                    a {
                        span:last-child {
                            .font-custom(@font-s-small, @font-weight-primary, @primary-color, 14px);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .category-selector {
        margin-left: 20px;
        margin-right: 20px;
    }
}