.services {
    padding: 40px 0;
    background: #F4F4F4;
}
.service__list {
    max-width: 100%;
    max-width: 880px;
    padding-top: 40px;
    ul {
        .ul-list();
        li {
            a{
                display: flex;
                flex-direction: column;
                transition: 0.3s;
                span:first-child {
                    #btn-icon(@bg: @color-white, @width: 80px, @height:80px, @border: none);
                    .shadow-box(0px 0px 10px rgba(0, 0, 0, 0.1));
                    transition: 0.3s
                }
                span:last-child {
                    display: block;
                    text-align: center;
                    margin-top: 8px;
                    .font-custom(@size: @font-s-big, @weight: @font-w-medium, @line-height: @line-height-overmedium);
                }
                &:hover {
                    span:first-child {
                        .shadow-box(0px 0px 15px rgba(0, 0, 0, 0.2));
                    }
                    span:last-child {
                        .font-custom(@font-s-big, @font-weight-primary, @primary-color, @line-height-overmedium);
                    }
                }
            }
        }
    }
}
.btn-more-service {
    #btn-icon (@primary-color, 1px solid @primary-color, fit-content, 40px, 0 30px 0 30px);
    margin-top: 10px;
    color: @color-white;
    text-transform: uppercase;
    .btn--img{
        background-image: url(../images/arrow-right-white.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    transition: 0.3s;
    &:hover {
        #btn-icon (@color-white, 1px solid @primary-color, fit-content, 40px, 0 30px 0 30px);
        color: @primary-color;
        margin-top: 10px;
        text-transform: uppercase;
        .btn--img{
            background-image: url(../images/arrow-right.png);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

@media (max-width: 1200px) {
    .services {
        .title-cover {
            margin: 0 20px;
        }
    }
    
}
@media (max-width: 880px) {
    .services {
        padding: 20px 0;
    }
    .service__list {
        margin-left: 20px;
    }
}

@media (max-width: 600px) {
    .services {
        h2 {
            font-size: @font-s-big;
            padding-bottom: 7px;
            line-height: @line-height-larger;
        }
    }
    .service__list {
        ul {
            justify-content: space-between;
            li {
                min-width: 85px;
                transition: all 0.3s;
                a {
                    span:first-child {
                        width: 60px;
                        height: 60px;
                        svg {
                            width: 55%;
                            height: auto;
                        }
                    }
                    span:last-child {
                        font-size: @font-s-small;
                        line-height: 14px;
                    }
                }
                &:hover {
                    a {
                        span:last-child {
                            .font-custom(@font-s-small, @font-weight-primary, @primary-color, 14px);
                        }
                    }
                }
            }
        }
    }
    .btn-more-service {
        margin-top: 20px;
    }
}